// Stage
#stage {
  background: $sky;
  width: 100%;
  height: 100%;
  position: relative;
}

#ground {
  position: absolute;
  background: url('../blocks/ground.png');
  width: 100%;
  height: 128px;
  bottom: 0;
}

