.pipe {
  background: url('../layout/pipe.png');
  width: 128px;
  height: 128px;
  position: absolute;
  bottom: 128px;
}

.castle { 
  position: absolute;
  z-index: 0;
  bottom: 128px;
  width: 160px; // Default for small
  height: 159px;
  background: url('../layout/castle-small.png');
  &.small {}
  &.large {
    width: 300px;
    height: 352px;
    background: url('../layout/castle-large.png');
  }
  
}

.cloud {
  z-index: 0;
  background: url('../sprites/clouds.png');
  height: 96px;
  position: absolute;
  &.one {
    width: 128px;
    background-position-x: -448px;
  }
  &.two {
    width: 192px;
    background-position-x: 0;
  }
  &.three {
    width: 256px;
    background-position-x: -192px;
  }
}

.shrub {
  z-index: 0;
  background: url('../sprites/shrubs.png');
  height: 64px;
  position: absolute;
  bottom: 128px;
  &.one {
    width: 128px;
    background-position-x: 0;
  }
  &.two {
    width: 192px;
    background-position-x: -384px;
  }
  &.three {
    width: 256px;
    background-position-x: -128px;
  }
}

.hill {
  z-index: 0;
  background: url('../sprites/hills.png');
  position: absolute;
  bottom: 128px; // ??
  &.small {
    width: 192px;
    height: 76px;
    background-position-y: -64px;
  }
  &.large {
    width: 320px;
    height: 140px;
    background-position-x: -192px;
  }
}


.block {
  position: absolute;
  width: 64px;
  height: 64px;
  &.brick {background: url('../blocks/brick.png');}
  &.coin {background: url('../blocks/coin.png');}
  &.empty {background: url('../blocks/steel.png');}
}